<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @candidate.dob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @candidate.experience %>
</p>

<p>
  <strong>Core Skills:</strong>
  <%= get_user_skills(@candidate) %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
